:root {
    --mdc-theme-primary: #424242;
    --mdc-theme-accent: #CDDC39;
    --mdc-theme-background: #232323;
}

body {
    margin: 0;
    height: calc(100vh - 64px);
    background: #232323;
    color: #f0f0f0;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
    max-width: 1175px;
    margin: 0 auto;
    padding: 48px 0px;
}

.archive-page,
.single-post {
    flex-direction: column;
}

.single-post {
    justify-content: flex-start;
    &>* {
        width: 100%;
        padding: 0 14px;
    }
}

.mdc-toolbar__row {
    max-width: 1175px;
    margin: 0 auto;
}

.mdc-toolbar__title {
    font-family: 'Roboto Mono';
    text-transform: uppercase;
    margin-left: 0;
    padding: 0 14px;
    line-height: 64px !important;
}

.toolbar-nav {
    height: 64px;
    padding: 0 14px;
    &>div {
        height: 100%;
    }
    ul {
        display: flex;
        list-style-type: none;
        height: 100%;
        margin: 0;
    }
    a {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 14px;
        text-transform: uppercase;
        font-family: 'Roboto Mono';
        font-size: 0.9em;
        border-bottom: 2px solid transparent;
    }
}

.toolbar-nav a:hover,
.current-menu-item a {
    border-bottom: 2px solid #CDDC39;
}

.mdc-card {
    height: 500px;
    background: #424242;
    background-size: cover;
}

.archive-page {
    .mdc-card {
        height: 350px;
    }
    .page-header {
        width: 100%;
        padding: 0 14px;
        margin-bottom: 1em;
    }
    .mdc-card__primary {
        margin-bottom: 0px;
        padding-bottom: 16px;
    }
    .mdc-card__subtitle p {
        margin-bottom: 8px;
    }
}

.mdc-card {
    * {
        color: #f0f0f0;
        text-decoration: none;
    }
    section {
        background: rgba(0, 0, 0, .4);
    }
}

.grid-container {
    --mdc-layout-grid-gutter-desktop: 48px;
    --mdc-layout-grid-gutter-tablet: 24px;
    --mdc-layout-grid-gutter-phone: 16px;
    --mdc-layout-grid-margin-desktop: 0;
    max-width: 1175px;
    padding: 0 12px;
}

.mdc-card__primary {
    margin-bottom: 8px;
}

.mdc-fab {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.site-footer {
    height: 64px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono';

    .site-info {
        display: flex;
    }
    p {
        margin: 0;
    }
    .menu-footer-container ul {
        display: flex;
        margin: 0;
    }

    .menu-footer-container li {
        margin-right: 2em;
    }
}


.mobile-menu-button {
    display: none;
}

@media (max-width: 599px) {
    .mdc-toolbar__title {
        padding: 0 !important;
    }
    .toolbar-nav {
        display: none;
    }
    .mobile-menu-button {
        margin-right: 16px;
        height: 2em;
        display: initial;
    }
    .mdc-simple-menu {
        right: 16px;
    }
}

.image-box-flex {
    display: flex;
    flex-flow: row wrap;
    .image-container {
        flex: 0 0 25%;
        img {
            width: 100%;
        }
    }
}

.aim-embed {
    height: 550px;
    iframe {
        overflow: hidden;
        height: 100%;
        width: 100%;
        border: none;
    }
}

@media (max-width: 1073px) {
    .aim-embed {
        height: 500px;
    }
}

@media (max-width: 923px) {
    .aim-embed {
        height: 450px;
    }
}

@media (max-width: 840px) {
    .aim-embed {
        height: 400px;
    }
    .image-box-flex .image-container {
        flex: 0 0 50%;
    }
}

@media (max-width: 744px) {
    .aim-embed {
        height: 350px;
    }
}

@media (max-width: 633px) {
    .aim-embed {
        height: 270px;
    }
    .image-box-flex .image-container {
        flex: 0 0 100%;
    }
}

@media (max-width: 839px) and (min-width: 480px) {
    .front-page .mdc-layout-grid__inner {
        grid-template-columns: repeat(4,minmax(0,1fr));
    } 
}

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.floaty {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.floaty-list {
  margin: 0 0 20px;
  padding: 0 0 0 6px;
  list-style: none;
  opacity: 0;
  transition: opacity .2s ease-out;
}
.floaty:hover .floaty-list {
  opacity: 1;
}
.floaty-list-item {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 15px 0;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,.25);
}
.floaty-list-item > img {
  border-radius: 50%;
}
.floaty-list-item--black {
  background-color: #000;
}
.floaty-list-item--black > svg {
  fill: #fff;
}
.floaty-list-item--blue {
  background-color: #3c80f6;
}
.floaty-list-item--blue > svg {
  fill: #fff;
}
.floaty-list-item-label {
  position: absolute;
  top: 8px;
  right: 120%;
  padding: 4px 8px;
  font-size: 14px;
  color: #fff;
  background-color: #424242;
  border-radius: 2px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity .2s ease-out;
}
.floaty-list-item:hover > .floaty-list-item-label {
  opacity: 1;
}
.floaty-btn {
  position: relative;
  width: 56px;
  height: 56px;
  float: right;
  margin-right: 15px;
  cursor: pointer;
  background-color: #CDDC39;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,.25);
}
.floaty-btn:hover .floaty-btn-label {
  opacity: 1;
}
.floaty-btn-label {
  position: absolute;
  top: 14px;
  right: 115%;
  padding: 4px 8px;
  font-size: 14px;
  color: #fff;
  background-color: #424242;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity .2s ease-out;
}
.floaty-btn-icon {
  transition: all .2s;
}
.floaty-btn-icon-plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.floaty.is-active .floaty-btn-icon-plus {
  opacity: 0;
  -webkit-transform: rotate(13deg);
  transform: rotate(130deg);
}
.floaty-btn-icon-create {
  opacity: 0;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.floaty.is-active .floaty-btn-icon-create {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}